@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
  font-weight: 100 900;
}

body {
  font-family: Rubik;
}

.child-focus-scale:focus .parent-focus-scale {
  transform: translate(-50%, -50%) scale(1.1);
}
